@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

@import "variables & mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #efefef;
  --primary-color: #1876f2;
  --post-bg-color: #fff;
}

.dark-theme {
  --bg-color: #0a0a0a;
  --primary-color: #000;
  --post-bg-color: #312e2e;
}

body {
  font-family: $font-family-base;
  background-color: var(--bg-color);
  transition: background-color 0.3s;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
